flows_raspberrypi.json
[{"id":"ad9385ca.8d4ae8","type":"tab","label":"AM2320"},{"id":"e4a80c49.4119f","type":"tab","label":"BH1750"},{"id":"d8d6b660.9de998","type":"tab","label":"DS18B20 "},{"id":"dbd5df26.447c2","type":"tab","label":"BMP180"},{"id":"ee3dd378.18084","type":"tab","label":"Camera"},{"id":"2571c663.15b22a","type":"tab","label":"Gas Sensor"},{"id":"78ebe61c.15f138","type":"tab","label":"Moisture"},{"id":"662f59f2.17fc18","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"13af8c25.c902f4","type":"i2c-device","z":"","device":"","address":""},{"id":"4be7de85.7882","type":"i2c-device","z":"","device":"","address":"24"},{"id":"3a7c2871.2ba388","type":"i2c-device","z":"","device":"/dev/i2c-1","address":""},{"id":"c1298d35.32b7f","type":"ui_group","z":"","name":"DS18B20","tab":"1b637788.784fc8","order":2,"disp":true,"width":"6"},{"id":"816c63c0.5ce6c","type":"ui_tab","z":"","name":"Control","icon":"dashboard"},{"id":"273a23e2.e3d24c","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-dark"},{"id":"e09e98e1.718168","type":"nodebot","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":""},{"id":"66e93b75.dfe264","type":"ui_group","z":"","name":"AM2320","tab":"1b637788.784fc8","order":6,"disp":true,"width":"6"},{"id":"38d71a83.af16f6","type":"ui_group","z":"","name":"BH1750","tab":"1b637788.784fc8","order":4,"disp":true,"width":"6"},{"id":"fb634992.b970b8","type":"ui_group","z":"","name":"BMP180","tab":"1b637788.784fc8","order":5,"disp":true,"width":"6"},{"id":"b1034f0b.88a03","type":"mqtt-broker","z":"ee3dd378.18084","broker":"192.168.182.128","port":"1883","clientid":"LarryMacOS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b449769f.342968","type":"ui_group","z":"ee3dd378.18084","name":"Default","tab":"","disp":true,"width":"6"},{"id":"77c671cd.8d58d","type":"mqtt-broker","z":"ee3dd378.18084","broker":"192.168.182.128","port":"1883","clientid":"LarryMacOS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"5a9a27c6.a13448","type":"ui_group","z":"","name":"Camera","tab":"dd97706a.fbb3","order":2,"disp":true,"width":"25"},{"id":"dd97706a.fbb3","type":"ui_tab","z":"","name":"Camera","icon":"dashboard"},{"id":"7f44a80a.404908","type":"mqtt-broker","z":"ee3dd378.18084","broker":"192.168.182.128","port":"1883","clientid":"LarryMacOS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ab480e36.fb0d","type":"ui_group","z":"","name":"Control ","tab":"","order":2,"disp":true,"width":"6"},{"id":"b6d1f860.6ca018","type":"mqtt-broker","z":"ee3dd378.18084","broker":"192.168.182.128","port":"1883","clientid":"LarryMacOS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"acb4d926.a4c5c8","type":"ui_group","z":"","name":"MQ 2","tab":"1b637788.784fc8","order":3,"disp":true,"width":"6"},{"id":"faf8a5f2.0aed38","type":"ui_group","z":"","name":"Автополив","tab":"816c63c0.5ce6c","disp":true,"width":"6"},{"id":"1b637788.784fc8","type":"ui_tab","z":"","name":"Charts","icon":"dashboard"},{"id":"c68d8965.8ca3f8","type":"ui_group","z":"","name":"Moisture","tab":"1b637788.784fc8","order":1,"disp":true,"width":"6"},{"id":"e6fcd817.9cae08","type":"ui_group","z":"","name":"Control 2","tab":"","disp":true,"width":"6"},{"id":"cf62f284.846e5","type":"ui_group","z":"","name":"Освещение","tab":"816c63c0.5ce6c","disp":true,"width":"6"},{"id":"ef0772cc.7fe03","type":"inject","z":"ad9385ca.8d4ae8","name":"Таймер","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":189.0999984741211,"y":174.80000495910645,"wires":[["16e84d6f.a30883"]]},{"id":"16e84d6f.a30883","type":"exec","z":"ad9385ca.8d4ae8","command":"python /home/pi/.node-red/am2320-temperature.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":571.0999984741211,"y":174.50003051757812,"wires":[["3dc61512.606e8a"],[],[]]},{"id":"969ddde0.96f23","type":"exec","z":"ad9385ca.8d4ae8","command":"python /home/pi/.node-red/am2320-humidity.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":576.1999816894531,"y":299.1999816894531,"wires":[["cc7046da.cadad8"],[],[]]},{"id":"89293f26.14601","type":"inject","z":"ad9385ca.8d4ae8","name":"Таймер","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":192.20001983642578,"y":299.1999816894531,"wires":[["969ddde0.96f23"]]},{"id":"3dc61512.606e8a","type":"ui_chart","z":"ad9385ca.8d4ae8","name":"temperature","group":"66e93b75.dfe264","order":0,"width":0,"height":0,"label":"temperature (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"°C","ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":951.1002197265625,"y":123.4000244140625,"wires":[[],[]]},{"id":"cc7046da.cadad8","type":"ui_chart","z":"ad9385ca.8d4ae8","name":"humidity","group":"66e93b75.dfe264","order":0,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":1039.2000122070312,"y":308.1999816894531,"wires":[[],[]]},{"id":"300fe8ac.a9e9f8","type":"inject","z":"d8d6b660.9de998","name":"Таймер","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":200.09998321533203,"y":217.79999828338623,"wires":[["41339e26.38d6"]]},{"id":"41339e26.38d6","type":"rpi-ds18b20","z":"d8d6b660.9de998","topic":"","array":false,"name":"","x":417.0999984741211,"y":218.20001983642578,"wires":[["45d4b636.343a48"]]},{"id":"45d4b636.343a48","type":"ui_chart","z":"d8d6b660.9de998","name":"temperature","group":"c1298d35.32b7f","order":0,"width":0,"height":0,"label":"temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"°C","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":615.1000823974609,"y":217.4000186920166,"wires":[[],[]]},{"id":"d4d2a3f9.b13ff","type":"inject","z":"e4a80c49.4119f","name":"Запуск по таймеру","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151.1000213623047,"y":154.80001831054688,"wires":[["30270e52.6a0942"]]},{"id":"7dc4cdcb.43a894","type":"ui_chart","z":"e4a80c49.4119f","name":" light","group":"38d71a83.af16f6","order":0,"width":0,"height":0,"label":"light (lux)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"lux","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":563.1999893188477,"y":222.20002365112305,"wires":[[],[]]},{"id":"30270e52.6a0942","type":"exec","z":"e4a80c49.4119f","command":"python /home/pi/.node-red/bh1750.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bh1750 data","x":366.1999740600586,"y":155.20002365112305,"wires":[["7dc4cdcb.43a894","1c6cd09e.d4de8f","7b136ee6.537cd","c6512179.e15fe"],[],[]]},{"id":"e1de06a6.80b4b8","type":"inject","z":"dbd5df26.447c2","name":"Таймер","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":174.09999465942383,"y":241.80001068115234,"wires":[["c6dd60c6.d6dce","540d9be6.0a38d4","bbe115ef.1e70c8","d9f07660.6d7838"]]},{"id":"c6dd60c6.d6dce","type":"exec","z":"dbd5df26.447c2","command":"python /home/pi/.node-red/bmp180-sealevel-pressure.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bmp180 sealevel pressure","x":490.1999702453613,"y":346.19997215270996,"wires":[["d06814b4.e086f8"],[],[]]},{"id":"540d9be6.0a38d4","type":"exec","z":"dbd5df26.447c2","command":"python /home/pi/.node-red/bmp180-temperature.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bmp180 temperature","x":468.1999740600586,"y":148.20000457763672,"wires":[["15cfa912.e92ed7"],[],[]]},{"id":"bbe115ef.1e70c8","type":"exec","z":"dbd5df26.447c2","command":"python /home/pi/.node-red/bmp180-pressure.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bmp180 pressure","x":460.1999816894531,"y":212.1999969482422,"wires":[["b2b69daf.f30ec"],[],[]]},{"id":"d9f07660.6d7838","type":"exec","z":"dbd5df26.447c2","command":"python /home/pi/.node-red/bmp180-altitude.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bmp180 altitude","x":450.1999816894531,"y":279.1999816894531,"wires":[["28bd0d8e.a260a2"],[],[]]},{"id":"15cfa912.e92ed7","type":"ui_chart","z":"dbd5df26.447c2","name":"temperature","group":"fb634992.b970b8","order":0,"width":"0","height":"0","label":"temperature (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"°C","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":822.2000427246094,"y":124.2000036239624,"wires":[[],[]]},{"id":"b2b69daf.f30ec","type":"ui_chart","z":"dbd5df26.447c2","name":"pressure","group":"fb634992.b970b8","order":0,"width":0,"height":0,"label":"pressure (Pa)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"Pa","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":821.2000427246094,"y":192.20000553131104,"wires":[[],[]]},{"id":"28bd0d8e.a260a2","type":"ui_chart","z":"dbd5df26.447c2","name":"altitude","group":"fb634992.b970b8","order":0,"width":0,"height":0,"label":"altitude (m)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"m","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":823.2000389099121,"y":241.2000069618225,"wires":[[],[]]},{"id":"d06814b4.e086f8","type":"ui_chart","z":"dbd5df26.447c2","name":"sea level pressure","group":"fb634992.b970b8","order":0,"width":0,"height":0,"label":"sea level pressure (Pa)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"Pa","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":854.2000122070312,"y":294.1999816894531,"wires":[[],[]]},{"id":"c83cf169.048fa","type":"camerapi-takephoto","z":"ee3dd378.18084","filemode":"1","filename":"greenhouse.jpeg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"5","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":396.8999938964844,"y":184.0000171661377,"wires":[["d92bcff0.acfb7"]]},{"id":"d1c88bcd.1942b8","type":"inject","z":"ee3dd378.18084","name":"Включение таймера","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149.09999084472656,"y":157.79998779296875,"wires":[["c83cf169.048fa"]]},{"id":"657d19ba.dfff58","type":"base64","z":"ee3dd378.18084","name":"Encode","x":608.1999969482422,"y":250.19997787475586,"wires":[["4f669420.3c2efc","10e1fcf7.0b10f3"]]},{"id":"4f669420.3c2efc","type":"ui_template","z":"ee3dd378.18084","group":"5a9a27c6.a13448","name":"Display Image","order":3,"width":"25","height":"15","format":"<img alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"x":778.2000427246094,"y":291.19997215270996,"wires":[[]]},{"id":"11e49929.e3b007","type":"ui_button","z":"ee3dd378.18084","name":"","group":"5a9a27c6.a13448","order":1,"width":0,"height":0,"label":"Take shot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":113.10000610351562,"y":292.79998779296875,"wires":[["c83cf169.048fa"]]},{"id":"10e1fcf7.0b10f3","type":"ui_template","z":"ee3dd378.18084","group":"5a9a27c6.a13448","name":"For mobile","order":2,"width":"8","height":"8","format":"<img alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"x":768.2000350952148,"y":218.20001745224,"wires":[[]]},{"id":"6a40d869.06da58","type":"inject","z":"78ebe61c.15f138","name":"Включение таймера","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131.09920501708984,"y":155.99996948242188,"wires":[["74f30241.a8604c"]]},{"id":"da0dd42a.2121e8","type":"ui_chart","z":"78ebe61c.15f138","name":"moisture %","group":"c68d8965.8ca3f8","order":0,"width":0,"height":0,"label":"Moisture (%)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"lux","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":641.1992111206055,"y":163.39998626708984,"wires":[[],[]]},{"id":"74f30241.a8604c","type":"exec","z":"78ebe61c.15f138","command":"python /home/pi/.node-red/MSinmV.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"moisture","x":320.1991882324219,"y":155.3999786376953,"wires":[["92745ab0.036238","d9c7d51.662e828"],[],[]]},{"id":"a4afe295.1269d","type":"ui_gauge","z":"78ebe61c.15f138","name":"Текущее значение в %","group":"faf8a5f2.0aed38","order":0,"width":0,"height":0,"gtype":"wave","title":"Gauge","label":"Текущее значение в %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":679.9599189758301,"y":220.27266883850098,"wires":[]},{"id":"33a4b2c5.3be09e","type":"ui_chart","z":"2571c663.15b22a","name":"LPG","group":"acb4d926.a4c5c8","order":2,"width":0,"height":0,"label":"LPG (ppm)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"ppm","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":840.1000366210938,"y":106.39999389648438,"wires":[[],[]]},{"id":"a4a0638f.a5df5","type":"ui_button","z":"2571c663.15b22a","name":"Calibrate","group":"acb4d926.a4c5c8","order":1,"width":0,"height":0,"label":"Calibrate","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":165,"y":349,"wires":[["9278005d.f4544"]]},{"id":"552930a8.824cc","type":"inject","z":"2571c663.15b22a","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":192,"y":192,"wires":[["d3ddc406.c30228","dea3f7a8.d984f8","e950c3bc.f9469"]]},{"id":"392dd6ea.be9f2a","type":"ui_chart","z":"2571c663.15b22a","name":"CO","group":"acb4d926.a4c5c8","order":3,"width":0,"height":0,"label":"CO (ppm)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"ppm","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":840,"y":177,"wires":[[],[]]},{"id":"fee8c02f.b0d78","type":"ui_chart","z":"2571c663.15b22a","name":"SMOKE","group":"acb4d926.a4c5c8","order":4,"width":0,"height":0,"label":"SMOKE (ppm)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"ppm","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":851,"y":242,"wires":[[],[]]},{"id":"5ad555ca.8ddd5c","type":"inject","z":"2571c663.15b22a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"x":171,"y":418,"wires":[["9278005d.f4544"]]},{"id":"d3ddc406.c30228","type":"exec","z":"2571c663.15b22a","command":"python /home/pi/.node-red/mq2_LPG.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":492,"y":112,"wires":[["33a4b2c5.3be09e"],[],[]]},{"id":"dea3f7a8.d984f8","type":"exec","z":"2571c663.15b22a","command":"python /home/pi/.node-red/mq2_CO.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":495,"y":181,"wires":[["392dd6ea.be9f2a"],[],[]]},{"id":"e950c3bc.f9469","type":"exec","z":"2571c663.15b22a","command":"python /home/pi/.node-red/mq2_smoke.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":504,"y":250,"wires":[["fee8c02f.b0d78"],[],[]]},{"id":"9d6b1014.32a62","type":"file","z":"2571c663.15b22a","name":"Путь home/pi/mq2R0.txt","filename":"mq2R0.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":886,"y":370,"wires":[]},{"id":"9278005d.f4544","type":"exec","z":"2571c663.15b22a","command":"python /home/pi/.node-red/mq2calibrate.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":503,"y":384.5,"wires":[["9d6b1014.32a62"],[],[]]},{"id":"92745ab0.036238","type":"function","z":"78ebe61c.15f138","name":"mV to %","func":"\nmsg.payload = msg.payload*100/3300;\nreturn msg;\n","outputs":1,"noerr":0,"x":423.99977111816406,"y":74.90907955169678,"wires":[["da0dd42a.2121e8","a4afe295.1269d","65d06e48.fb721","d216ec7c.27ea2"]]},{"id":"d9c7d51.662e828","type":"ui_chart","z":"78ebe61c.15f138","name":"moisture mV","group":"c68d8965.8ca3f8","order":0,"width":0,"height":0,"label":"Moisture (mV)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"lux","ymin":"0","ymax":"3600","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":639.9997634887695,"y":271.90907287597656,"wires":[[],[]]},{"id":"d92bcff0.acfb7","type":"file in","z":"ee3dd378.18084","name":"","filename":"/home/pi/Pictures/greenhouse.jpeg","format":"","x":436,"y":452,"wires":[["657d19ba.dfff58"]]},{"id":"db5eacf.4e68a5","type":"rpi-gpio out","z":"78ebe61c.15f138","name":"Реле для помпы","pin":"12","set":"","level":"0","out":"out","x":933.9994010925293,"y":426.909086227417,"wires":[]},{"id":"ed51e1d.635462","type":"ui_switch","z":"78ebe61c.15f138","name":"Relay switch","label":"ON/OFF","group":"faf8a5f2.0aed38","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":915.9996681213379,"y":341.5090045928955,"wires":[["db5eacf.4e68a5"]]},{"id":"d2028dac.48e96","type":"function","z":"78ebe61c.15f138","name":"Включить полив","func":"raznica = msg.payload[0]-msg.payload[1];\nif (raznica < 0) \n{ \nmsg.payload = 1;\nreturn msg ;\n}\nelse\n{ \nmsg.payload = 0;\nreturn msg ;\n}\n","outputs":1,"noerr":0,"x":932.9997215270996,"y":157.90908813476562,"wires":[["7ad96e3e.be942"]]},{"id":"7ad96e3e.be942","type":"trigger","z":"78ebe61c.15f138","op1":"","op2":"0","op1type":"pay","op2type":"num","duration":"3","extend":false,"units":"s","reset":"","name":"Выключить полив","x":924.999828338623,"y":255.90907669067383,"wires":[["ed51e1d.635462"]]},{"id":"25df4598.39fc4a","type":"ui_numeric","z":"78ebe61c.15f138","name":"","label":"Ввод влажности","group":"faf8a5f2.0aed38","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"5","x":127.78690338134766,"y":387.735595703125,"wires":[["98cd61d7.251f2"]]},{"id":"65d06e48.fb721","type":"join","z":"78ebe61c.15f138","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":909.7925834655762,"y":65.42039489746094,"wires":[["d2028dac.48e96"]]},{"id":"98cd61d7.251f2","type":"file","z":"78ebe61c.15f138","name":"Путь home/pi/humidityControl","filename":"humidityControl","appendNewline":true,"createDir":false,"overwriteFile":"true","x":379.99999237060547,"y":387.9090042114258,"wires":[]},{"id":"d216ec7c.27ea2","type":"file in","z":"78ebe61c.15f138","name":"","filename":"humidityControl","format":"utf8","x":646.0000076293945,"y":32.909088134765625,"wires":[["65d06e48.fb721"]]},{"id":"1c6cd09e.d4de8f","type":"file in","z":"e4a80c49.4119f","name":"","filename":"lightControl","format":"utf8","x":737.01416015625,"y":96.0056381225586,"wires":[["7b136ee6.537cd"]]},{"id":"7b136ee6.537cd","type":"join","z":"e4a80c49.4119f","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"1","count":"","x":757.806812286377,"y":198.51694679260254,"wires":[["7ccf09ae.e51868"]]},{"id":"7ccf09ae.e51868","type":"function","z":"e4a80c49.4119f","name":"Включить cвет","func":"raznica = msg.payload[0]-msg.payload[1];\n\nif (raznica < 0) \n{ \nmsg.payload = 1;\nreturn msg ;\n}\nelse\n{ \nmsg.payload = 0;\nreturn msg ;\n}\n","outputs":1,"noerr":0,"x":778.0139770507812,"y":279.0056161880493,"wires":[["5ad30522.a0c25c"]]},{"id":"5ad30522.a0c25c","type":"trigger","z":"e4a80c49.4119f","op1":"","op2":"0","op1type":"pay","op2type":"num","duration":"4","extend":false,"units":"s","reset":"","name":"Выключить свет","x":634.0141067504883,"y":391.00562286376953,"wires":[["685068c7.0289e8"]]},{"id":"685068c7.0289e8","type":"ui_switch","z":"e4a80c49.4119f","name":"Relay switch","label":"ON/OFF","group":"cf62f284.846e5","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":827.0139007568359,"y":393.6055374145508,"wires":[["2e51e538.60c32a"]]},{"id":"2e51e538.60c32a","type":"rpi-gpio out","z":"e4a80c49.4119f","name":"Реле для света","pin":"36","set":"","level":"0","out":"out","x":1004.0136795043945,"y":393.0056028366089,"wires":[]},{"id":"cd8b6e15.01bc6","type":"file","z":"e4a80c49.4119f","name":"Путь home/pi/lightControl","filename":"lightControl","appendNewline":true,"createDir":false,"overwriteFile":"true","x":336.7868957519531,"y":372.0653247833252,"wires":[]},{"id":"db4dfbac.dde0a8","type":"ui_numeric","z":"e4a80c49.4119f","name":"","label":"Ввод люксов","group":"cf62f284.846e5","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"5000","step":"50","x":110.7840576171875,"y":373.35797119140625,"wires":[["cd8b6e15.01bc6"]]},{"id":"c6512179.e15fe","type":"ui_gauge","z":"e4a80c49.4119f","name":"","group":"cf62f284.846e5","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"x":552.7840423583984,"y":295.6590805053711,"wires":[]},{"id":"2169ea93.62c2b6","type":"comment","z":"e4a80c49.4119f","name":"Как работает система освещения?","info":"По таймеру запускается считывание датчика \nс помощью команды терминала (запуск скрипта Python).\nПоказания выводятся на дашбоард. \nНа дашбоарде вводится контрольное значение, \nкоторое записывается в файл (находится в корневом каталоге).\nПосле считывания показаний датчика данные сравниваются с контрольными.\nУзел join ждет 2 сообщения и отправляет их в функциональный узел.\nЕсли значение ниже контрольного, включается реле для света.\nТаймер на выключение настраивается так, чтобы выключиться незадолго до\nнекоторого считывания (допустим считываем раз в час, то выключить свет через 59 минут).","x":179,"y":63,"wires":[]},{"id":"bec9713a.52c1f","type":"comment","z":"78ebe61c.15f138","name":"Как работает автополив?","info":"По таймеру запускается считывание датчика \nс помощью команды терминала (запуск скрипта Python). Значение напряжения переводится в % влажности\nПоказания выводятся на дашбоард. \nНа дашбоарде вводится контрольное значение, \nкоторое записывается в файл (находится в корневом каталоге).\nПосле считывания показаний датчика данные сравниваются с контрольными.\nУзел join ждет 2 сообщения и отправляет их в функциональный узел.\nЕсли значение ниже контрольного, включается реле для света.\nТаймер на выключение настраивается на недолгий полив(например, 5 секунд).\nЕсли этого будет недостаточно, то полив произойдет несколько раз.","x":145,"y":53,"wires":[]},{"id":"fa9bbb96.e4b178","type":"comment","z":"ee3dd378.18084","name":"Как работает снятие снимков?","info":"По таймеру происходит снятие скриншотов с помощью специального узла.\nСнимок сохранятеся в папку Pictures в корневом каталоге.\nЭтот файл далее кодируется в base64 и выводится на дашбоард в 2-х форматах\nдля ПК и мобильного устройства. \nЕсть кнопка на дашбоарде для снятия снимка в настоящее время.","x":167,"y":77,"wires":[]},{"id":"f93140b2.a1711","type":"comment","z":"d8d6b660.9de998","name":"Как работает?","info":"По таймеру снимаются показания датчика с помощью специального узла для него.\nПоказания выводятся на график на дашборде.","x":201,"y":137,"wires":[]},{"id":"808e4bb9.461bc8","type":"comment","z":"ad9385ca.8d4ae8","name":"Как работает?","info":"По таймеру запускается считывание датчика \nс помощью команд терминала (запуск скриптов Python).\nПоказания выводятся на график дашбоарда. \n","x":195,"y":96,"wires":[]},{"id":"92c7ae1f.57f32","type":"comment","z":"dbd5df26.447c2","name":"Как работает?","info":"По таймеру запускается считывание датчика \nс помощью команд терминала (запуск скриптов Python).\nПоказания выводятся на график дашбоарда. \n","x":172,"y":94,"wires":[]},{"id":"bc0a0d2e.59a0d","type":"comment","z":"2571c663.15b22a","name":"Как работает?","info":"По таймеру запускается считывание датчика \nс помощью команд терминала (запуск скриптов Python).\nПоказания выводятся на график дашбоарда. \nДля корректного считывания нужна колибровка датчика в чистом воздухе.\nПо таймеру она сделана каждое утро в 6.00. Есть кнопка для колибровки в данный момент.\nФайл, куда пишется значение сопротивления R0 хранится в корневом каталоге.","x":180,"y":56,"wires":[]}]